<header>

  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/logout">Logout</a> </li>

    </ul>
  </nav>
</header>

{{#with user}}
<div class="user">
  <h1 class="center">Hello {{this.firstName}}, welcome to your dashboard!</h1>

  <p class="details">Your profile picture:</p>

  <img src="{{this.imgPath}}" alt="Your image" width="200px" height="150px">
  {{!-- <a href="/picture/delete/{{this._id}}">❌</a> --}}
</div>

{{!-- {{#unless this.imgPath}}

  <label for="photo">Add photo</label>
  <input type="file" name="photo" id="photo" value=>

  {{/unless}} --}}

{{/with}}

{{#each product}}

<h2>Your products to give away:</h2>
<p>Is everything still available?</p>

<!-- Product part to be updated -->

{{this.title}}
{{this.imgPath}}

<a href="/product/edit/{{_id}}">Edit product</a>

<a href="/product/delete/{{_id}}">Delete product</a>

<p>Is there a new product you want to add?</p>

<a href="/add-products">Add new product</a>

{{/each}}

{{!-- when there is no product do this: --}}
{{#unless product}}

<h2> No products sitting in your fridge or your cupboard about to expire? </h2>

<div class="btn-edit">
  <a href="/add-products">Add new product</a>
</div>
{{/unless}}