<header>

  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>

    </ul>
  </nav>
</header>



{{!-- here we have the map on the left 
and the categrory list with links 
that lead to the overview by category on the right --}}

<h1 class ="center">Product overview</h1>

<div class="titles">
<h2>Search by Product:</h2>
<h2>Search by Location:</h2>
</div>

<div class="wrapper">

  {{!-- map with all the products here --}}

  <div class="products-list">
    {{#each product}}


      {{!-- list of products here --}}
      <a href="/product-details/{{_id}}">{{title}}</a> <br><br>
      <img src="{{imgPath}}" alt="Your image" width="100px" max-width="100px" height="100px">
      <p>Brand: {{brand}}</p>
      <p>{{description}}</p>
      <p>It expires by: {{expiryDate}}</p> <br>

    </div>
    {{/each}}


  </div>
  <div class="navi" id="maptwo" style='width: 60%; height: 60vh;'></div>

</div>