<header>

  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>

    </ul>
  </nav>
</header>



{{!-- here we have the map on the left 
and the categrory list with links 
that lead to the overview by category on the right --}}

<h1 class="center">Browse the products up for grabs in your area!</h1>

<div class="titles">
  <h2>Browse all products:</h2>
  <h2>View by Location:</h2>
</div>

<div class="wrapper">

  {{!-- map with all the products here --}}

  <div class="products-list">
    {{#each product}}


    {{!-- list of products here --}}
    <div class='product'>
      <a class='product-name' href="/product-details/{{_id}}">{{title}}</a> <br><br>
      <img src="{{imgPath}}" alt="Your image" width="100px" max-width="100px" height="100px">
      <div class='info'>
        <p class='brand'>Brand: {{brand}}</p>
        <p class='desc'>{{description}}</p>
        <p>It expires by: {{expiryDate}}</p> <br>
      </div>
    </div>
    {{/each}}


  </div>
  <div class="navi" id="maptwo" style='width: 60%; height: 60vh;'></div>
  <script src="/javascripts/mapsproductoverview.js"></script>

</div>>