<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/logout">Log out</a> </li>
    </ul>
  </nav>
</header>

{{#with product}}

<div class='product-details'>
  <h1>{{title}}</h1>
  <img src="{{imgPath}}" alt="Your image" width="200px" height="150px">
  <div class='product-info'>
    <h2>Product details</h2>
  <p>Brand: {{brand}}</p>
  <p>Category: {{category}}</p>
  <p>Description: {{description}}</p>
  <p>This product expires by: {{expiryDate}}</p>

    {{#if product.comments}}

  {{#each product.comments}}
  <p>{{comments}}</p>
  <span>{{user}}</span>
  {{/each}}

  {{else}}
  <p>No-one has requested this product yet, lucky you! </p>
  {{/if}}

  </div>
  {{!-- p>You can find this product at:{{location}}</p> Do we want the coordinates shown to users? --}}



  {{/with}}

  <div class='messages'>
    <h2>Do you want this product?</h2>
    <p>Write a message to the owner to let them know you want to help clean their fridge!</p>

    {{!-- List the comments --}}

    {{!-- Add a review --}}
    <form action="/product/{{product._id}}/comments" method="POST">
      <label for="user">Your name:</label>
      <input type="text" name="user" id="user">
      {{!-- <input type="hidden" value={{book._id}}> --}}
      <label for="comments">Your message:</label>
      <textarea type="text" name="comments" id="comments"></textarea>
      <br>
      <button type="submit">Post my message!</button>
  </div>
</div>